@model VideoOnDemand.Models.Director

@{
    ViewBag.Title = "Details";
}

<h2>Réalisateur</h2>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (File.Exists(Server.MapPath("~/Content/Images/Directors/" + Model.Id + ".jpg"))) //on verifie que la jacket existe
        {
            <dd>
                <img src="@Url.Content("~/Content/Images/Directors/" + Model.Id + ".jpg")" style="width:130px; height:200px;" />
            </dd>
        }
        else
        {
            <dd>
                <img src="@Url.Content("~/Content/Images/Jackets/PasDeJacket.jpg")" style="width:130px; height:200px;" />
            </dd>
        }

        <dt>
           Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Nationalité
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            Date de naissance
        </dt>

        <dd>
            @Model.Birth.ToString("dd/MM/yyyy")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Retour", "Index", new { area = "" }, new { @class = "btn btn-info" })
</p>
