<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @System.Web.Optimization.Styles.Render("~/css")
    @System.Web.Optimization.Styles.Render("~/js")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Accueil", "Index", "Films", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Recherche", "Search", "Films", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Profil", "Details", "Users", new { area = "", id = Session["LoginUserID"] }, new { @class = "navbar-brand" })              
            </div>

            <div class="nav navbar-nav navbar-right">
        
                @if (@Session["LoginName"] == null)
                {
                    <form action="@Url.Action("Login","Users")" method="get" class="navbar-form navbar-right">
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </form>
                }
                else
                {
                    <form action="@Url.Action("Logout","Users")" method="get" class="navbar-form navbar-right">
                        <button type="submit" class="btn btn-danger">Deconnexion</button>
                    </form>
                }
                <form class="nav navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary">Recherche</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br/>
        @if (!String.IsNullOrEmpty(ViewBag.msg)) //si un message d'erreur existe on l'affiche
        {
            <div id="alerteMsg" class="alert @ViewBag.msgType" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span>@ViewBag.msg</span>
                <a href="#" class="close" data-dismiss="alert" onclick="$('#alerteMsg').slideUp()">&times;</a>
            </div>
        }
        @RenderBody()
    </div>

    <div class="navbar-fixed-bottom" style="background-color:#F5F5F5">
        <div class="container">
            <p class="text-center">Mehdi Kermad - Rachid Edjekouane - Mehmet Oktem</p>
        </div>
    </div>
</body>
</html>