@model VideoOnDemand.Models.Film

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateFilm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDateFilm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDateFilm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDateFilm)
        </dd>

    </dl>
</div>

@{
    Html.RenderAction("Commentaire", new { id = ViewBag.Id });
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tous les commentaires</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label for="comment" class="control-label">Vos commentaires :</label>
                <textarea name="comment" id="comment" class="form-control" cols="20" rows="4" placeholder="Partagez votre avis"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Publier" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
