@model VideoOnDemand.Models.Film

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (File.Exists(Server.MapPath("~/Content/Images/Jackets/" + Model.Id + ".jpg"))) //on verifie que la jacket existe
        {
            <dd>
                <img src="@Url.Content("~/Content/Images/Jackets/" + Model.Id + ".jpg")" style="width:130px; height:200px;" />
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDateFilm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDateFilm)
        </dd>

    </dl>
</div>
<form action="@Url.Action("Visualisation", "Films", new { id = Model.Id})" method="get">
    <button type="submit" class="btn btn-success">Regarder le film</button>
</form>
<br />
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour aux Films", "Index")
</p>

<h2>Commentaires</h2>

@using (Html.BeginForm("Create", "Comments", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tous les commentaires</h4>
        <hr />
        @foreach (var c in ViewBag.commentsList)
        {
            for (int cpt = 0; cpt < c.Marks;cpt++ )
            { 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            }
            <p>@c.Message</p>
            <small>le @c.Date</small>
            <hr/>
        }
        <input type="hidden" name="Id_Film" value="@Model.Id" />
        <input type="hidden" name="Id_User" value="1" />
        <div class="form-group">
            <div class="col-md-10">
                <textarea name="Message" class="form-control" placeholder="Partagez vos impressions"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <select name="Marks" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="form-horizontal">
</div>