@{
    ViewBag.Title = "Search";
}


<div id="listeFilms" class="col-md-offset-1 col-md-9 well well-sm text-center">
    <h4>Liste des films</h4>
       @foreach (var c in ViewBag.result)
       {
        <div class="col-md-3 elementFilm">
            <a class="detailFilm" href="@Url.Action("Details", "Films", new { id = @c.Id })">
                @if (File.Exists(Server.MapPath("~/Content/Images/Jackets/" + @c.Id + ".jpg"))) //on verifie que la jacket existe
                {
                    <img class="jacketFilm" src="@Url.Content("~/Content/Images/Jackets/" + @c.Id + ".jpg")" style="width:130px; height:200px;" />
                }
                else //sinon on affiche la jacket d'absence
                {
                    <img class="jacketFilm" src="@Url.Content("~/Content/Images/Jackets/PasDeJacket.jpg")" style="width:130px; height:200px;" />
                }

            </a>
            <p class="nameFilm">@c.Name</p>
            <p class="sortieFilm">@c.AddDateFilm.ToString("dd/MM/yyyy")</p>

        </div>
       }
</div>

