@model VideoOnDemand.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Profil</h2>
<hr />
<div class="col-lg-6">
    <h4>Detail</h4>
    
    <dl class="dl-horizontal">
    
        @if (File.Exists(Server.MapPath("~/Content/Images/Users/" + Model.Id + ".jpg"))) //on verifie que la jacket existe
        {
            <dd>
                <img src="@Url.Content("~/Content/Images/Users/" + Model.Id + ".jpg")" style="width:130px; height:200px;" />
            </dd>
        }
        else
        {
            <dd>
                <img src="@Url.Content("~/Content/Images/Jackets/PasDeJacket2.jpg")" style="width:130px; height:200px;" />
                Télécharger une photo de profil
            </dd>
        }
        <dt class="text-info">
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>

        <dd >
            @Html.DisplayFor(model => model.Pseudo)
        </dd>

        <dt class="text-info">
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="text-info">
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="text-info">
           Date de naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth)
        </dd>

        <dt class="text-info">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </p>
</div>

